/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*SHARED*/
.item {
    background-color: lightblue;
    border: 1px solid red;
    font-weight: bold;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*MAIN*/
.container {
    display: grid;
    grid-template: 100px 1fr 100px / 100px 1fr;
    height: 100vh;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
.header {
    grid-area: header;
    background-color: rgb(0, 102, 0);
}
.aside {
    grid-area: aside;
    background-color: rgb(91, 135, 4);
}
.main {
    grid-area: main;
    background-color: rgb(209, 240, 173);
}
.footer {
    grid-area: footer;
    background-color: rgb(98, 119, 97)138, 138, 138);
}

/* .item:nth-of-type(4) {
    background-color: blue;
    overflow: auto;
    display: grid;
    /* display: inline-grid; */
    /* grid-template: 300px 10px 100px / repeat(3, 1fr);
}*/
/* .item .item {
    background-color: yellow;
} */